{{#if success}}
<div class="p-3 mb-2 bg-success text-white">Login successful</div>
{{/if}}
<h1 class="border-bottom mt-2 ml-3 border-dark text-center w-75 mx-auto font-weight-bold">TOP RATING</h1>
<div class="container w-100 row mx-auto">
  {{#each topRating}}
  <div class=" p-3 col-3 ">
    <div class="card">
      <img class="card-img-top" src="{{this.Img}}" alt="{{this.Id}}" style="height: 300px;">
      <div class="card-body">
        <h5 class="card-title">{{this.Title}} ({{this.Year}})</h5>
        <p class="card-text">Rating: {{this.Rating}}</p>
        <a href="/movie/{{this.Id}}" class="btn btn-primary">More Info</a>
        <button class="ml-auto btn btn-success favourite mt-3" style="display: none;" id="favourite-{{this.Id}}">⭐
          Favourite</button>
        <button class="ml-auto btn btn-outline-danger mt-3 del-favourite" style="display: none;"
          id="del-favourite-{{this.Id}}">❌ Remove Favourite</button>
        {{!-- <a href="/movie/{{this.Id}}" class="btn btn-primary">More Info</a> --}}
      </div>
    </div>
  </div>
  {{else}}
  <div class="p-3 mb-2 bg-danger text-white w-100 mt-3">Cannot Fetch Database</div>
  {{/each}}
</div>
{{#if topRating}}
<nav aria-label="Page navigation example " class="w-25 mx-auto">
  <ul class="pagination text-center mx-auto">
    <li class="page-item" id="pervious-page">
      <a class="page-link" href="#" aria-label="Previous" id="a-pervious-page">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item" id="page-1"><a class="page-link" href="?page=1">1</a></li>
    <li class="page-item" id="page-2" ><a class="page-link" href="?page=2">2</a></li>
    <li class="page-item" id="page-3"><a class="page-link" href="?page=3">3</a></li>
    <li class="page-item" id="page-4" ><a class="page-link" href="?page=4">4</a></li>
    <li class="page-item" id="page-5"><a class="page-link" href="?page=5">5</a></li>
    <li class="page-item" id="next-page">
      <a class="page-link" href="#" aria-label="Next"  id="a-next-page">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
{{/if}}
<script>
  if ($("#account").length > 0) {
    $('.favourite').show()
    const user = $("#account").html().split(' ')[1]
    $.post('/getFavourite', { user: user }, (data) => {
      for (const d of data) {
        let id = "favourite-" + d.Movie
        $(`#${id}`).hide()
        id = "del-" + id
        $(`#${id}`).show()
      }
    })
    $(".favourite").click((event) => {
      const MovieID = event.currentTarget.id.split('-')[1]
      $.post("/addFavourite", { user: user, Movie: MovieID }, (data) => {
        alert("add favourite " + data.status)
        let id = "favourite-" + MovieID
        $(`#${id}`).hide()
        id = "del-" + id
        $(`#${id}`).show()
      })
    })
    $(".del-favourite").click((event) => {
      const MovieID = event.currentTarget.id.split('-')[2]
      $.post("/delFavourite", { user: user, Movie: MovieID }, (data) => {
        alert("remove favourite " + data.status)
        let id = "favourite-" + MovieID
        $(`#${id}`).show()
        id = "del-" + id
        $(`#${id}`).hide()
      })
    })
  }

  //pagination
    let searchParams = new URLSearchParams(window.location.search)
    if (searchParams.has('page')){
        let page = searchParams.get('page')
        $("#a-next-page").attr("href", "?page="+(parseInt(page)+1))
        $("#a-pervious-page").attr("href", "?page="+(parseInt(page)-1))
        let id='page-'+page
        $(`#${id}`).addClass('active')
        if (page=='5'){
          $('#next-page').addClass('disabled')
        }
        else if (page=='1'){
          $('#pervious-page').addClass('disabled')

        }
    }
    else{
      $(`#page-1`).addClass('active')
      $('#pervious-page').addClass('disabled')
        $("#a-next-page").attr("href", "?page=2")

    }
</script>